<div class="users-profile">
  <div class="avatar">
    <%= image_tag @user.avatar if @user.avatar.attached? %>
  </div>
  <div class="bio">
    <h3>自己紹介</h3>
    <%= simple_format(@user.bio, sanitize: true) %>
    <%= button_to '自己紹介を編集する', edit_user_path(@user), method: :get, class: 'btn btn-primary' %>
  </div>
</div>

<div class="learning-chart">
  <h3 class="chart-title">学習チャート</h3>

  <%= button_to '編集する', '#', method: :get, class: 'btn btn-primary chart-edit-btn' %>

  <div class="chart" style="display: block; box-sizing: border-box; height: 500px; width: 1064px; margin: 0 auto;">
    <canvas id="myChart"></canvas>
  </div>

  <script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</div>