<header class="navbar navbar-fixed-top">
  <div class="logo">
    <%= link_to "My Portfolio", root_path, id: "logo" %>
  </div>
  <nav>
    <% if logged_in? %>
      <%= button_to "ログアウト", logout_path, method: :delete, class: 'logout-btn' %>
    <% else %>
      <%= button_to "ログイン", login_path, method: :get, class: 'login-btn' %>
    <% end %>
  </nav>
</header>