<header class="navbar navbar-fixed-top">
  <div class="logo">
    <%= link_to "My Portfolio", root_path, id: "logo" %>
  </div>
  <nav>
    <% if logged_in? %>
      <%= link_to "ログアウト", logout_path, data: { "turbo_method": :delete } %>
    <% else %>
      <%= link_to "ログイン", login_path %>
    <% end %>
  </nav>
</header>